fastapi[standard]
uvicorn
sqlalchemy
psycopg2-binary
pgvector
python-dotenv
pydantic
groq
voyageai
pypdf
python-multipart
bcrypt<4
python-jose[cryptography]
trafilatura
pytest
pytest-asyncio
httpx
pytest-mock
alembic
tenacity
requests
google-auth
google-auth-oauthlib